{% if avatartype is not defined %}
	{% set avatartype = "inline" %}
{% endif %}
{% set avatar = 'avatars/' ~ user.avatar %}

{% if avatartype == "inline" %}
	<a href = "{{ path('profiles_viewprofile',{"id":user.id}) }}">
	{{  user.username}}  

	<img src = "{{ asset(avatar) }}" alt = "" style = "max-height:20px" class ="avatarimage" /></a><br/>
{% endif %}
{% if avatartype == "profile" %}
	<a href = "{{ path('profiles_viewprofile',{"id":user.id}) }}">
		<label>{{ user.username }}</label><br/>
		<img src = "{{ asset(avatar) }}" alt = ""  class ="avatarimage" />
		<br/>
	</a>
{% endif %}

<script>
$( document ).ready(function() {
  $(".avatarimage").error(function () 
  { 
    $(this).hide();
  });
});
</script>