{% set pagetitle = "Edit Profile" %}
{% extends "layout.html.twig" %}
{% block content %}
{% include "tabs.html.twig" %}
{% set table = "friends" %}
{% set unsearchableArray = [2] %}


<div class="tab-content list-group-item" >
  <div role="tabpanel" class="tab-pane fade{% if section == "" %} in active{% endif %}" id = "editprofilePersonal">
    <form id = "saveProfileForm" method= "post" action = "{{ path('profiles_editprofile_save') }}" enctype="multipart/form-data">
    	<button type = "submit" class = "btn btn-primary">Save</button><br/><br/>
    	{% for field in fields %}
    	{% if field.options.type == "textarea" %}
    	<label>{{ field.name }}</label>
    	<textarea style = "width:100%;height:200px;resize:none" name = "{{field.name }}" id = "saveProfile{{field.name }}">{{ field.value}} </textarea>
    	{% elseif field.options.type== "avatar" %}
    	<input type='file' name = "{{ field.name }}" id="editprofile{{ field.name }}" />
    	<img id="editprofile{{ field.name }}Image" src="{{ asset('avatars/' ~field.value) }}" alt=""  />
    	<br/>
    	{% endif %}
    	{% endfor %}
    	<br/>
    	<button type = "submit" class = "btn btn-primary">Save</button>
    </form>
  </div>
  <div role="tabpanel" class="tab-pane fade" id = "editprofileFriends" >
    {% set template = "profilesBundle:Default:friends.html.twig" %}
    {% set tablename = "friends" %}
    {% set customquery = "friendlistview" %}
    {% set header = "<th>Id</th><th>Otaku</th><th>Remove From Friend List</th>" %}
    {% set types = "a.id,otakus.username" %}
    {% set findby = "a.otakuid,^a.status" %}
    {% set findbyvalues =  user.id~",1"  %}
    {% set order = '"order": [[ 1, "asc" ]]' %}
    {% include "searchdatatables.html.twig" %}
  </div>
  <div role="tabpanel" class="tab-pane fade{% if section == "editprofileFriendRequests" %} in active{% endif %}" id = "editprofileFriendRequests" >
    {% set template = "profilesBundle:Default:friendsrequest.html.twig" %}
    {% set tablename = "friendsrequest" %}
    {% set customquery = "friendlist" %}
    {% set header = "<th>Id</th><th>Otaku</th><th>Confirm</th>" %}
    {% set types = "a.id,otakus.username" %}
    {% set findby = "a.friendotakuid,^a.status" %}
    {% set findbyvalues =  user.id~",0"  %}
    {% set order = '"order": [[ 1, "asc" ]]' %}
    {% include "searchdatatables.html.twig" %}
  </div>
</div>
<script>
$( document ).ready(function() 
{
  $("#editprofileavatar").change(function()
  {
    readURL(this);
    $("#editprofileavatarImage").css("max-width","200px");
    $("#editprofileavatarImage").css("max-height","200px");
  });

  $("#saveProfileForm").submit(function(event)
  {
    event.preventDefault();
    {% for field in fields %}
    {% if field.options.type == "textarea" %}
    $("#saveProfile{{field.name}}").val(tinyMCE.get('saveProfile{{field.name}}').getContent());
    {% endif %}
    {% endfor %}
    var formData = new FormData($("#saveProfileForm")[0]);
    $.ajax(
    {
      url:$(this).attr("action"),
      type: 'POST',
      data: formData,
      async: false,
      success: function (data)
      {
        if (data == "saved")
        showAlert("Edit Profile","Profile Saved ^^");
        if (data == "Bad image uploaded")
        showAlert("Invalid file for avatar!");
        if (data == "File Name too long")
        showAlert("Avatar file name too long");
      },
      cache: false,
      contentType: false,
      processData: false
      
    });

  });



});
function friendRequest(friendotakuid)
{
  var page = "{{ path('profiles_send_friend_request') }}";
  var querystring = "id=" + friendotakuid;
  $.post(page, querystring).done(function(data) 
  {
    reloadFriendLists();
    sendNotification("notifications" + friendotakuid);
  });
}
function removeFriend(friendotakuid)
{
  var page = "{{ path('profiles_remove_friend') }}";
  var querystring = "id=" + friendotakuid;
  $.post(page, querystring).done(function(data) 
  {
    reloadFriendLists();
  });
}

function reloadFriendLists()
{
      friendsrequestTable.fnDraw(false);
      friendsTable.fnDraw(false);
}
</script>
{% endblock %}

