{% set pagetitle = user.username ~ "'s Profile" %}
{% extends "layout.html.twig" %}
{% block content %}

{% include "tabs.html.twig" %}
<div class="tab-content list-group-item" >
		<div role="tabpanel" class="tab-pane fade{% if section == "" %} in active{% endif %}" id = "viewprofilePersonalInformation">
			{% for field in fields %}
			{% if  field.options.profiledisplay  is not defined %}
			{% if field.options.type == "avatar" %}
			{% set avatartype = "profile" %}
			<div id = "addFriendContainer" style = "position:absolute;float:right;right:1%">

			</div>
			{% include "displayavatar.html.twig" %}

			{% elseif field.options.type == "textarea"  or field.options.type == "text" %}
			{% if field.name == "username" %}
			
		
			{% else %}
			<label>{{ field.description | raw}}</label>
			<br/>
			{{ field.value | raw }}<br/>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
		</div>
		<div role="tabpanel" class="tab-pane fade" id = "viewprofileTopics" >
			
		</div>
		<div role="tabpanel" class="tab-pane fade" id = "viewprofilePosts">
			
		</div>
		<div role="tabpanel" class="tab-pane fade" id = "viewprofileFriends">
			{% set table = "friends" %}
			{% set tablename = "friends" %}
			{% set customquery = "friendlistview" %}
			{% set template = "profilesBundle:Default:friendsview.html.twig" %}
			{% set header = "<th>Id</th><th>Otaku</th>" %}
			{% set types = "a.id,otakus.username" %}
			{% set findby = "a.otakuid,^a.status" %}
			{% set findbyvalues =  user.id~",1"  %}
			{% set order = '"order": [[ 1, "asc" ]]' %}
			{% include "searchdatatables.html.twig" %}

		</div>
		<div role="tabpanel" class="tab-pane fade{% if section == "viewprofileVistorMessages" %} in active{% endif %}" id = "viewprofileVistorMessages">
			{% if friend %}
			<h3>Add Message</h3>
			<textarea id = "makeComment"></textarea>
			<br/>
			<button type = "button" class = "btn btn-success" onclick = "addMessage()">Submit</button>
			<hr/>
			{% elseif not self %}
			You Must be a friend in order to add messages to this User
			<hr/>
			{% endif %}
			
			<h3 id = "visitorMessages">Visitor Messages</h3>
			<div id = "viewprofileVistorMessagesAjax"></div>

		</div>		

</div>
<script>
$( document ).ready(function() 
{
	var page = "{{ path('profiles_gettopics') }}";
	var querystring = "otakuid={{user.id}}";

	$.get( page + "?" + querystring, function( data ) 
	{
		$("#viewprofileTopics").html(data);
	});

	var page = "{{ path('profiles_getposts') }}";
	var querystring = "otakuid={{user.id}}";
	$.get( page + "?" + querystring, function( data ) 
	{
		$("#viewprofilePosts").html(data);
	});

	loadMessages(0);

	loadFriendButton();
});
function loadFriendButton()
{
	var page = "{{ path('profiles_addFriendButton') }}";
	var querystring = "friendotakuid={{user.id}}";
	$.post(page, querystring).done(function(data) 
    {
		$("#addFriendContainer").html(data);
	});	
}
function loadMessages(scroll)
{
	var page = "{{ path('profiles_getmessages') }}";
	var querystring = "otakuid={{user.id}}";
	$.get( page + "?" + querystring, function( data ) 
	{
		$("#viewprofileVistorMessagesAjax").html(data);
		if (scroll)
		scrollToMessages()
	});
}
function scrollToMessages()
{
	$('html, body').animate({scrollTop: $("#visitorMessages").offset().top - 100}, 0);
}
function friendRequest(friendotakuid)
{
	var page = "{{ path('profiles_send_friend_request') }}";
	var querystring = "id=" + friendotakuid;
	$.post(page, querystring).done(function(data) 
    {
    	if (data == "Saved")
    	{
    		loadFriendButton();
    		sendNotification("notifications" + friendotakuid);
    	}
		else
		showAlert("Oh noes",data);
	});	
}
function addMessage()
{
	var message = encodeURIComponent(tinyMCE.get('makeComment').getContent());
	var page = "{{ path('profiles_addvisitormessage') }}";
	var querystring = "otakuid={{user.id }}&message=" + message;
	$.post(page, querystring).done(function(data) 
    {
    	sendNotification("notifications{{user.id}}")
    	tinyMCE.get('makeComment').setContent('');
    	loadMessages(1);
    });
}
</script>
{% endblock %}


