{% set pagetitle = "Welcome to Otaku-Soft" %}
{% extends('layout.html.twig') %}
{% block content %}
{% set counter = 0 %}     
  <form id = "register" method= "post" action = "{{ path('_index_register') }}" enctype="multipart/form-data">
    
    <p class="lead">
      We are an interactive otaku  site, play games, meet new friends, join conversions while earning nyan points.
    </p>
  
    {% for field in fields %}

    <b>{{ field.description }}</b><br/>
    {% if field.type == "textarea" %}
    <textarea id = "register{{ field.name }}" name = "{{ field.name }}" style = "width:100%;height:100px;resize:none" placeholder = "Enter your {{ field.description }} here"></textarea>
    {% elseif field.type == "file" %}
    <input type='file' name = "{{ field.name }}" id="register{{ field.name }}" />
    <img id="register{{ field.name }}Image" src="#" alt="" style = "max-width:250px" />
    {% else %}
    <input type = "{{ field.type }}"  class = "form-control"   name = "{{ field.name }}" id = "register{{ field.name }}" placeholder = "Enter your {{ field.description }} here" /> 
    {% endif %}
    <br/>
    
    {% endfor %}
 
    <button type="submit" class="btn btn-primary" >Register</button>
  </form>
</div>


<!-- Modal -->
<div class="modal fade" id="forgotpasswordModule" tabindex="-1" role="dialog" aria-labelledby="forgotpasswordModuleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="forgotpasswordModuleLabel">Forgot Password</h4>
      </div>
      <div class="modal-body">

        <div id = "requestPasswordContainer" >
            <br/>
            <form id = "requestPassword" class="fos_user_resetting_request">
                <div>
                    <input type="text" id="username" name="username" required="required" class = "form-control" placeholder = "Your Username or email"  />
                </div>
            </form>
            <br/>
            {% set alertId = "emailSentAlert"%}
            {% set alertContent = "Email Sent" %}
            {{ include("alert.html.twig") }}
            {% set alertId = "doesNotExistAlert"%}
            {% set alertContent = "Email Address does not exist" %}
            {% set glyphicon = "remove" %}
            {% set alertType = "danger" %}    
            {{ include("alert.html.twig") }}
            {% set alertId = "last24HoursAlert"%}
            {% set alertContent = "The password for this user has already been requested within the last 24 hours. <br/>If you did not request this change or did not recieve an email.  Contact flamehiro@gmail.com" %}
            {{ include("alert.html.twig") }}
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  onclick = "sendEmail()">Find Pass</button>
      </div>
    </div>
  </div>
                     
<script>
function readURL(input) 
{
  if (input.files && input.files[0]) 
  {
    var reader = new FileReader();

    reader.onload = function (e) 
    {
      
      $('#' + input.id + 'Image').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}
$( document ).ready(function() 
{
  {% for field in fields %}
  {% if field.type == "file" %}
  $("#register{{ field.name }}").change(function()
  {
    readURL(this);
  });
  {% endif %}
  {% endfor %}
  $("#register").submit(function(event)
  {
    event.preventDefault();

    {% set validationFields = fields %}
    {% set validationId = "register" %}
    {% include('validator.html.twig') %}
    if (errorMessage != "")
    showAlert("Oh Noes the following errors have been found",errorMessage);
    else
    { 
      if (!supportFormData())
      {
        sectionErrorMessage = "Error: Your browser does not work with this site";
        {% include('validatorAppendErrorText.html.twig') %}
      }

      else
      {
        var formData = new FormData($("#register")[0]);
        $.ajax(
        {
          url:$(this).attr("action"),
          type: 'POST',
          data: formData,
          async: false,
          success: function (data)
          {
            if (data != "")
            {
              sectionErrorMessage = data;
              {% include('validatorAppendErrorText.html.twig') %}
              showAlert("Oh Noes the following errors have been found",errorMessage);
            }
            else
            showAlert("Registration complete","Thank you for registering with us :)");
          },
          cache: false,
          contentType: false,
          processData: false
          
        });
      }
    }
  });  
});

function supportFormData()
{
  return !! window.FormData;
}
function sendEmail()
{
  querystring = $("#requestPassword").serialize();
  page = "{{ path("fos_user_resetting_send_email") }}";
  $.post(page, querystring).done(function(data) 
  {
    if (data.indexOf("does not exist") > -1)
    $("#doesNotExistAlert").show();
    else if (data.indexOf("last 24 hours") > -1)
    $("#last24HoursAlert").show();
    else
    $("#emailSentAlert").show();
  });  
}

</script>
{% endblock %}
