{% set pagetitle = "Welcome to Otaku-Soft" %}
{% extends('layout.html.twig') %}
{% block content %}
{% set counter = 0 %}     
  <form id = "register" method= "post" action = "{{ path('_index_register') }}" enctype="multipart/form-data">
    
    <p class="lead">
      We are an interactive otaku  site, play games, meet new friends, join conversions while earning nyan points.
    </p>
  
    {% for field in fields %}

    <b>{{ field.description }}</b><br/>
    {% if field.type == "textarea" %}
    <textarea id = "register{{ field.name }}" name = "{{ field.name }}" style = "width:100%;height:100px;resize:none" placeholder = "Enter your {{ field.description }} here"></textarea>
    {% elseif field.type == "file" %}
    <input type='file' name = "{{ field.name }}" id="register{{ field.name }}" />
    <img id="register{{ field.name }}Image" src="#" alt="" style = "max-width:250px" />
    {% else %}
    <input type = "{{ field.type }}"  class = "form-control"   name = "{{ field.name }}" id = "register{{ field.name }}" placeholder = "Enter your {{ field.description }} here" /> 
    {% endif %}
    <br/>
    
    {% endfor %}
 
    <button type="submit" class="btn btn-primary" >Register</button>
  </form>
</div>
                  
<script>
function readURL(input) 
{
  if (input.files && input.files[0]) 
  {
    var reader = new FileReader();

    reader.onload = function (e) 
    {
      
      $('#' + input.id + 'Image').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}
$( document ).ready(function() 
{
  {% for field in fields %}
  {% if field.type == "file" %}
  $("#register{{ field.name }}").change(function()
  {
    readURL(this);
  });
  {% endif %}
  {% endfor %}
  $("#register").submit(function(event)
  {
    event.preventDefault();

    {% set validationFields = fields %}
    {% set validationId = "register" %}
    {% include('validator.html.twig') %}
    if (errorMessage != "")
    showAlert("Oh Noes the following errors have been found",errorMessage);
    else
    { 
      if (!supportFormData())
      {
        sectionErrorMessage = "Error: Your browser does not work with this site";
        {% include('validatorAppendErrorText.html.twig') %}
      }

      else
      {
        var formData = new FormData($("#register")[0]);
        $.ajax(
        {
          url:$(this).attr("action"),
          type: 'POST',
          data: formData,
          async: false,
          success: function (data)
          {
            if (data != "")
            {
              sectionErrorMessage = data;
              {% include('validatorAppendErrorText.html.twig') %}
              showAlert("Oh Noes the following errors have been found",errorMessage);
            }
            else
            showAlert("Registration complete","Thank you for registering with us :)");
          },
          cache: false,
          contentType: false,
          processData: false
          
        });
      }
    }
  });  
});

function supportFormData()
{
  return !! window.FormData;
}


</script>
{% endblock %}
