{% set pagetitle = "Forum Index" %}
{% extends "layout.html.twig" %}
{% block content %}
{% for category in categories %}
<div class="panel panel-category">
	<div class="panel-heading">{{ category.title }}</div>
	<div class="panel-body {% if category.forums is defined %}nospace{% endif %}" >

		{% if category.forums is  not defined %}
		<span >No forums have been created for this category yet.</span>
		{% else %}

		<table class="table nospace" >
		  <thead>
		  	<tr>
		  		<th>Name</th>
		  		<th>Description</th>
		  		<th>Threads</th>
		  		<th>Posts</th>
		  		<th>Last Post</th>
		  		<th>Last Post Time</th>
		  		<th>Last Poster</th>
		  	</tr>
		  </thead>
		  <tbody>
		  {% for forum in category.forums %}
		  	<tr>
		  		<td><a href = "{{ path('forum_inforum', {'forumid': forum.id,'title':forum.title}) }}">{{ forum.title }}</a></td>
		  		<td>{{ forum.description}}</td>

		  		{% if forum.lastTitle is not defined  %}
		  		<td colspan = "5">
		  		
		  		</td>
		  		{% else %}
		  		{% set dateField = forum.lastActivity %}
		  		<td>{{ forum.topicCount }}</td>
		  		<td>{{ forum.postCount }}</td>
		  		<td>{{ forum.lastTitle }}</td>
		  		<td> {{ include ("displaydate.html.twig") }}</td>
		  		<td>
		  			{% set user = forum.lastPoster %}
					{% include "inlineavatar.html.twig" %}
		  		</td>
		  		{% endif %}
		  	</tr>
		  {% endfor %}
		  </tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endfor %}
{% endblock %}


  
   
  