{% set pagetitle = "Forum Index" %}
{% set searchurl = path('forum_inforum_search', {'forumid': 'all'}) %}
{% extends "layout.html.twig" %}
{% block content %}
{% include "searchnav.html.twig" %}
{% for category in categories %}
<div class="panel panel-category">
	<div class="panel-heading">{{ category.title }}</div>
	<div class="panel-body {% if category.forums is defined %}nospace{% endif %}" >

		{% if category.forums is  not defined %}
		<span >No forums have been created for this category yet.</span>
		{% else %}

		<table class="table nospace" style = "table-layout:fixed;" >
		  <thead>
		  	<tr>
		  		<th colspan = "3">Name</th>
		  		<th colspan = "3" >Description</th>
		  		<th colspan = "2">Topics/Posts</th>
		  		
		  		<th colspan = "2">Last Post</th>
		  		<th colspan = "2">Time</th>
		  		<th>Poster</th>
		  	</tr>
		  </thead>
		  <tbody>
		  {% for forum in category.forums %}
		  	<tr>
		  		<td colspan = "3"><a href = "{{ path('forum_inforum', {'forumid': forum.id,'title':forum.title}) }}">{{ forum.title }}</a></td>
		  		<td colspan = "3">{{ forum.description}}</td>

		  		{% if forum.lastTopic is not defined  %}
		  		<td colspan = "7">
		  		
		  		</td>
		  		{% else %}
		  		{% set dateField = forum.lastActivity %}
		  		<td colspan = "2">{{ forum.topicCount }}/{{ forum.postCount }}</td>
		  		<td colspan = "2"><a href = "{{ path('forum_intopic', {'topicid': forum.lastTopic.id,'title':forum.lastTopic.title}) }}?newpost=true">{{ forum.lastTopic.title }}</a></td>
		  		<td colspan = "2"> {{ include ("displaydate.html.twig") }}</td>
		  		<td>
		  			{% set user = forum.lastPoster %}
					{% include "inlineavatar.html.twig" %}
		  		</td>
		  		{% endif %}
		  	</tr>
		  {% endfor %}
		  </tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endfor %}
{% endblock %}


  
   
  