{% set pagetitle = "Topic - " ~ title %}
{% extends "layout.html.twig" %}
{% set lastpostid = "" %}
{% block content %}
<a href = "{{ path('forum_index') }}">Index</a> /
<a href = "{{ path('forum_inforum', {'forumid': forum.id,'title':forum.title,'pagenumber':1}) }}">{{ forum.title }}</a><br/><br/>

<div class="panel panel-category">
	<div class="panel-heading">Posts</div>
	<div class="panel-body nospace" >
		<table class="table table-bordered nospace" >

			</thread>
			<tbody>
				{% for post in posts %}
				{% set lastpostid = post.id %}
				 <tr>
				     <td  align = "center">
				     	<span id = "post{{ post.id }}"></span>
				     	<a href = "{{ path('profiles_viewprofile',{"id":post.otaku.id}) }}">
					     	<label>{{ post.otaku.username }}</label><br/>
					     	{% set avatartype = "profile" %}
					     	{% set user = post.otaku %}
					     	{% include "displayavatar.html.twig" %}
				     	</a>
						Posts: {{ post.otaku.postCount}}
				     </td>
				     <td width = "100%" >
				     	{% if loop.index == 1 %}
				     	{{ title }}
				     	<hr/>
				     	{% endif %}
				     	{{ post.message | raw }}
				     </td>
				</tr>
			 	{% endfor %}
			 </tbody>
		</table>
	</div>
</div>
{% if newpost %}
<script>
$( document ).ready(function() {
$('html, body').animate({scrollTop: $("#post{{lastpostid}}").offset().top - 100}, 2000);
});
</script>
{% endif %}
{% if postid is defined %}
<script>
$( document ).ready(function() {
$('html, body').animate({scrollTop: $("#post{{postid}}").offset().top - 100}, 2000);
});
</script>
{% endif %}
{% set pagination = {'topicid': topic.id,'title':topic.title} %}
{% set paginationPath = 'forum_intopic' %}
{% include "pagination.html.twig" %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<br/>
<label>Reply to Topic</label>
<form id = "addPost">
	<input type = "text" name = "topicid" value = "{{  topic.id }}" style = "display:none" />
	<input type = "text" name = "categoryid" value = "{{  topic.categoryid }}"  style = "display:none"/>
	<input type = "text" name = "forumid" value = "{{  topic.forumid }}" style = "display:none" />
	<textarea name="message" id = "addPostMessage"  style = "height:200px;resize:none" placeholder = "Message" class="form-control" maxlength="65535" ></textarea>
	<br/>
	<button class = "btn btn-success">Submit</button>
</form>
<script>
$( document ).ready(function() 
{

	$("#addPost").submit(function(event)
	{
		event.preventDefault();
		errorMessage = "";
		if (tinyMCE.get('addPostMessage').getContent() == "")
		{
			sectionErrorMessage = "Message must be filled out";
			{% include "validatorAppendErrorText.html.twig" %}
		}
		if (errorMessage != "")
		showAlert("Oh noes",errorMessage,"","alert alert-warning");
		else
		{
			var querystring = $("#addPost").serialize();
			querystring = querystring +"&message=" + encodeURIComponent(tinyMCE.get('addPostMessage').getContent());
			var page = "{{ path('forum_intopic_intopicNewPost') }}";
	        $.post(page, querystring) 
	        .done(function(data) 
	        {
	        	window.location = data;
	        });
		}
	});
});
</script>
{% endif %}
{% endblock %}